<div class="Y">
    <div class="H">
        <strong class="E" style="font-size: 350%;"> facebook </strong>
        <p style="font-size: 185%;" class="K"> Avec Facebook, partagez et restez en <br>
            contact avec votre entourage </p>
    </div>
    <div class="F">
    <div class="P">

        <form action="POST">
            <input type="text" placeholder="Adresse e-mail ou numéro de tel."><br>
            <input type="password" placeholder="Mot de passe"><br>
            <button mat-raised-button color="primary">Connexion</button>
            <br>
            <div class="J">
                <a href="Renitialiser_MotDePasse">Mot de passe oublié ?</a><br>
            </div>
            <div class="A"></div>
                <div class="B"> 
                    <a  href="#" target="_blank" >
                        <strong >Créer un compte</strong> </a>
                </div>
            
        </form>

    </div>
    <div class="Z">
        <p>
            <a routerLink="/inscription"> <strong>Créer une Page</strong></a>
            pour une célébrité, un groupe ou une entreprise</p>
    </div>
</div>
</div>