.H{
    margin-top: 15%;
    margin-left: 13%;
    margin-right: 9%;
    
}
.K{
    line-height: 1.2;
}
.E{
    color: #3a6ce2;
    
}
.P{

    margin-top: 35%;
    width: 400px;
    background-color: rgb(190, 194, 190);
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 17px;
    height: 355px;
    box-shadow: 1px 2px 2px rgb(132, 199, 199);

}
.Y{
    display: flex;

}
input{
    margin: auto;
    width: 95%;
    height: 55px;
    border: 1px solid lightgray;
    margin-top: 15px;
    border-radius: 5px;
    padding-left: 15px;
}
button{
    margin: auto;
    width: 95% ;
    height: 47px;
    background-color: #3a6ce2;;
    border-radius: 5px;
    color: white;
    font-size: 100%;
    border: none;
    margin-top: 15px;
}
.J{
    margin-left: 30%;
    margin-top: 12px;

}
.J a:link{
    text-decoration:none;
    color: rgb(118, 190, 235);
}
.J a:hover{
    text-decoration: underline;
}
.A{
    width: 95%;
    height: 1px;
    background-color: gray;
    margin-top: 14px;
    margin-left: 1Opx;

}
body{
    background-color: blue;
}
.B{
    margin-top: 25px;
    margin-left: 30%;
}
.B a:link, a:visited {
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(45, 190, 29);
    text-align: Center;
    padding: 12px 23px;
    border-radius: 6px;
}
.B a:hover{
    background-color: rgb(18, 170, 4);
}
.F{
    display: block;
}
.Z a:hover{
    text-decoration: underline;
}
.Z a:link{
    color: black;
    text-decoration:none ;
}
.Z{
  margin-top: 19px;  
  width: 400px;
  text-align: center;
}