<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/imgs/facebook.png" width="40px" style="margin-left: 40px;">
        </a>
        <div style="color: rgb(0, 110, 255); font-size: medium;">
            <strong>
                Facebook
            </strong>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Rechercher sur facebook"
                    aria-label="Search">
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 10px;">Rechercher</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button mat-icon-button aria-label="Example icon button with a home icon">
                            <mat-icon>home</mat-icon>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button mat-icon-button aria-label="Example icon button with a home icon" id="blase">
                            <mat-icon>messengers</mat-icon>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <button mat-icon-button aria-label="Example icon button with a home icon">
                            <mat-icon>notifications</mat-icon>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <button mat-icon-button aria-label="Example icon button with a home icon">
                            <mat-icon></mat-icon>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<mat-card class="example-card" style="margin-top: 8%; margin-left: auto; margin-right: auto;display: block;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="image.lien;">
         
    <img mat-card-image [src]="'http://localhost:8000'+image.lien" alt="Photo of a Shiba Inu">
    </ng-container>

    <mat-card-content>
        <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    </mat-card>
