<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/imgs/facebook.png">
        </a>
        <div style="color: rgb(0, 110, 255); font-size: medium;">
            <strong>
                Facebook
            </strong>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Rechercher sur facebook"
                    aria-label="Search">
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 10px;">Rechercher</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button mat-icon-button aria-label="Example icon button with a home icon">
                            <mat-icon>home</mat-icon>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button mat-icon-button aria-label="Example icon button with a home icon" id="blase">
                            <mat-icon>messengers</mat-icon>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <button mat-icon-button aria-label="Example icon button with a home icon">
                            <mat-icon>notifications</mat-icon>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <button mat-icon-button aria-label="Example icon button with a home icon">
                            <mat-icon></mat-icon>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-md-12">
    <p style="color: rgb(105, 105, 216); text-align: center; font-size: xx-large; margin-top: 5%;">Bienvenue!!</p>
    <img src="../../assets/imgs/blank-profile-picture-973460_640.png" alt="" style=" width: 200px; height: 175px; margin-top: 6%;" class="rounded-circle" >

    
</div>